In [3]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('E:\\car_prices.csv')
data = pd.DataFrame(df)
data

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,4.5,18255.0,silver,black,avis corporation,35300,33000,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

# TASK 1

In [9]:
d1 = data[(data.year==2014)]
d1

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
6,2014,BMW,M5,Base,Sedan,automatic,wbsfv9c51ed593089,ca,3.4,14943.0,black,black,the hertz corporation,69000,65000,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
7,2014,Chevrolet,Cruze,1LT,Sedan,automatic,1g1pc5sb2e7128460,ca,2.0,28617.0,black,black,enterprise vehicle exchange / tra / rental / t...,11900,9800,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
8,2014,Audi,A4,2.0T Premium Plus quattro,Sedan,automatic,wauffafl3en030343,ca,4.2,9557.0,white,black,audi mission viejo,32100,32250,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558814,2014,Dodge,Charger,SE,Sedan,NaN,2c3cdxbg3eh324197,va,4.3,20485.0,white,black,hertz corporation/gdp,16350,16100,Wed Jul 08 2015 07:15:00 GMT-0700 (PDT)
558820,2014,Dodge,Charger,SE,Sedan,NaN,2c3cdxbg9eh324236,va,4.2,22744.0,white,black,hertz corporation/gdp,16250,15900,Wed Jul 08 2015 07:15:00 GMT-0700 (PDT)
558826,2014,Jeep,Grand Cherokee,Limited,SUV,automatic,1c4rjebg4ec573100,ca,4.4,9024.0,gray,black,enterprise vehicle exchange / tra / rental / t...,29800,17300,Thu Jul 09 2015 09:00:00 GMT-0700 (PDT)
558827,2014,Jeep,Grand Cherokee,Laredo,SUV,automatic,1c4rjfag0ec466276,pa,4.2,25180.0,gray,black,hertz corporation/gdp,26000,24500,Tue Jul 07 2015 06:30:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [10]:
d11 = d1.sort_values('sellingprice',ascending=True).head()
d11

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
293223,2014,Ford,E-Series Van,E-250,E-Series Van,automatic,1ftne2ew6eda13643,tx,4.1,31886.0,white,gray,u-haul,20800,1,Thu Feb 12 2015 03:00:00 GMT-0800 (PST)
185680,2014,Chrysler,200,LX,Sedan,automatic,1c3ccbab7en125253,ca,1.0,16973.0,white,black,enterprise vehicle exchange / tra / rental / t...,11800,500,Thu Jan 22 2015 04:30:00 GMT-0800 (PST)
405960,2014,Ford,Escape,Titanium,SUV,automatic,1fmcu9j94eua96505,nj,4.4,20074.0,red,black,"ford motor credit company,llc",24600,750,Wed Apr 08 2015 02:00:00 GMT-0700 (PDT)
174198,2014,Nissan,Versa,1.6 SV,Sedan,automatic,3n1cn7ap1el855595,il,1.9,15091.0,gray,black,nissan motor acceptance corporation,9700,1000,Thu Jan 22 2015 02:00:00 GMT-0800 (PST)
174145,2014,Hyundai,Elantra GT,Base,Hatchback,automatic,kmhd35lh9eu165404,in,2.0,1.0,red,black,enterprise vehicle exchange / tra / rental / t...,15300,1000,Wed Jan 21 2015 04:59:00 GMT-0800 (PST)

# TASK 2

In [11]:
d2 = data[(data.year==2010)&(data.make=='BMW')&(data.condition>4.5)]
d2

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
43927,2010,BMW,3 Series,328i,Coupe,automatic,wbawb3c50ap481760,fl,4.8,65307.0,white,beige,hyundai of new port richey,14200,16000,Tue Dec 23 2014 14:00:00 GMT-0800 (PST)
70751,2010,BMW,3 Series,328i,Sedan,NaN,wbaph7g55anm48382,pa,4.6,51645.0,blue,black,classic chevrolet bmw,14500,14600,Fri Jan 02 2015 09:00:00 GMT-0800 (PST)
114558,2010,BMW,6 Series,650i,Convertible,automatic,wbaeb5c57ac225968,pa,5.0,33405.0,white,tan,bobby rahal bmw of south hills,34600,35600,Wed Jan 14 2015 01:00:00 GMT-0800 (PST)
114559,2010,BMW,3 Series,328i xDrive,Sedan,NaN,wbapk5c52aa651832,pa,4.6,45336.0,burgundy,beige,charles & son auto sls inc,15300,17100,Fri Jan 16 2015 01:00:00 GMT-0800 (PST)
126368,2010,BMW,M3,Base,Coupe,automatic,wbswd9c57ap363049,fl,4.6,53470.0,blue,black,tdaf remarketing,33000,34600,Tue Jan 20 2015 01:00:00 GMT-0800 (PST)
135141,2010,BMW,X5,xDrive35d,SUV,NaN,5uxff0c50alt75241,pa,4.7,20227.0,white,tan,r hollenshead auto sales inc,25900,29500,Fri Jan 16 2015 01:00:00 GMT-0800 (PST)
153657,2010,BMW,3 Series,335d,Sedan,NaN,wbapn7c55aa778092,pa,4.8,74836.0,silver,black,adcock brothers inc,14900,17000,Fri Jan 16 2015 01:00:00 GMT-0800 (PST)
153661,2010,BMW,7 Series,750i xDrive,Sedan,automatic,wbakc6c5xac393660,il,5.0,68571.0,blue,beige,manheim atlanta,26200,19200,Tue Jan 20 2015 02:00:00 GMT-0800 (PST)
194514,2010,BMW,5 Series,535i,Sedan,automatic,wbanw1c5xac164564,fl,4.6,68508.0,white,brown,lauderdale infiniti,16900,17500,Fri Jan 30 2015 01:35:00 GMT-0800 (PST)
226562,2010,BMW,7 Series,750Li,Sedan,automatic,wbakb8c50acy62947,ga,4.6,65725.0,white,beige,kern automotive group inc,28100,31200,Tue Feb 10 2015 01:30:00 GMT-0800 (PST)
251236,2010,BMW,3 Series,328i,Convertible,automatic,wbawr3c51ap463067,ca,4.6,88511.0,gold,beige,aaero sweet company,14950,16750,Wed Feb 11 2015 04:00:00 GMT-0800 (PST)
251237,2010,BMW,X3,xDrive30i,SUV,NaN,wbxpc9c45awj38630,on,4.7,93026.0,black,black,bmw group financial services canada,14700,15200,Tue Feb 10 2015 02:00:00 GMT-0800 (PST)
258240,2010,BMW,5 Series,528i,Sedan,automatic,wbanu5c5xac366057,fl,5.0,46212.0,white,tan,lauderdale imports ltd bmw pembrok pines,16700,18400,Fri Feb 06 2015 01:35:00 GMT-0800 (PST)
268772,2010,BMW,5 Series,535i xDrive,Sedan,automatic,wbanv9c57ac139106,nj,4.6,12736.0,gray,black,bmw na manheim new jersey,21500,24500,Tue Feb 10 2015 06:00:00 GMT-0800 (PST)
286525,2010,BMW,X6,xDrive35i,SUV,automatic,5uxfg4c51al225627,tx,4.7,83007.0,black,gray,cotroneo auto group,27500,26500,Wed Feb 11 2015 02:20:00 GMT-0800 (PST)
295993,2010,BMW,3 Series,335i,Coupe,automatic,wbawb7c5xap048454,tx,4.8,77020.0,silver,black,d&m leasing,18200,17500,Wed Feb 25 2015 02:15:00 GMT-0800 (PST)
311181,2010,BMW,X3,xDrive30i,SUV,NaN,wbxpc9c44awj35234,pa,5.0,46726.0,black,beige,royal coast auto inc,19750,23000,Fri Feb 13 2015 01:00:00 GMT-0800 (PST)
319380,2010,BMW,X5,xDrive48i,SUV,automatic,5uxfe8c59al310700,fl,4.8,79680.0,black,brown,kelley buick gmc inc,20400,20300,Wed Feb 18 2015 01:35:00 GMT-0800 (PST)
362944,2010,BMW,1 Series,135i,Convertible,automatic,wbaun9c51avk41792,fl,4.8,44570.0,blue,black,cire leasing,19050,20000,Tue May 19 2015 02:15:00 GMT-0700 (PDT)
366055,2010,BMW,1 Series,135i,Coupe,automatic,wbauc7c59avk96016,ca,4.6,48652.0,silver,black,commonwealth audi volkswagen,17450,19750,Thu Feb 26 2015 04:30:00 GMT-0800 (PST)
371048,2010,BMW,3 Series,328i,Coupe,automatic,wbawb3c50ap481760,fl,4.7,65323.0,white,beige,ed morse auto plaza,15700,17300,Thu Feb 26 2015 01:40:00 GMT-0800 (PST)
371057,2010,BMW,5 Series Gran Turismo,550i,Hatchback,automatic,wbasn4c56ac208759,ca,4.9,41521.0,silver,black,trade in solutions irvine,24600,24500,Thu Feb 26 2015 04:30:00 GMT-0800 (PST)
374847,2010,BMW,6 Series,650i,Coupe,automatic,wbaea5c53acv92918,pa,4.9,25589.0,black,black,r hollenshead auto sales inc,33100,34250,Fri Feb 27 2015 01:00:00 GMT-0800 (PST)
387768,2010,BMW,5 Series,535i xDrive,Sedan,automatic,wbanv9c5xac136460,pa,4.8,69619.0,blue,beige,daniels bmw mini of allentown,17750,17700,Tue Mar 03 2015 01:30:00 GMT-0800 (PST)
390602,2010,BMW,M3,Base,Coupe,automatic,wbswd9c58ap362654,mo,4.6,53435.0,red,black,arch auto sales,31900,34000,Tue Mar 03 2015 03:00:00 GMT-0800 (PST)
390606,2010,BMW,1 Series,135i,Convertible,automatic,wbaun9c57avk41425,fl,4.7,24332.0,white,black,american bank auto liquidators,20400,21200,Tue Mar 03 2015 01:15:00 GMT-0800 (PST)
395930,2010,BMW,3 Series,328i,Sedan,automatic,wbaph7g55anm51248,fl,4.6,45438.0,white,tan,crown buick gmc,14600,16100,Thu Mar 05 2015 01:50:00 GMT-0800 (PST)
395932,2010,BMW,3 Series,328i,Convertible,automatic,wbawl1c55ap492304,fl,4.7,13014.0,blue,beige,braman motorcars,22900,20000,Thu Mar 05 2015 01:40:00 GMT-0800 (PST)
400353,2010,BMW,7 Series,750Li xDrive,Sedan,NaN,wbakc8c54ac430746,pa,4.7,63992.0,blue,beige,i g burton & co inc,28200,29400,Fri Mar 06 2015 01:15:00 GMT-0800 (PST)
448066,2010,BMW,X5,xDrive35d,SUV,automatic,5uxff0c55alt77390,ca,4.8,22282.0,gray,black,nova auto sales inc,25300,27500,Thu May 21 2015 05:30:00 GMT-0700 (PDT)
461632,2010,BMW,5 Series,550i,Sedan,automatic,wbanw5c54act57266,tx,4.9,31710.0,black,beige,ge fleet services for itself/servicer,23200,23100,Thu May 28 2015 04:00:00 GMT-0700 (PDT)
472842,2010,BMW,M3,Base,coupe,automatic,wbswd9c58ap363268,ca,4.8,7461.0,gray,brown,south bay bmw,41400,41250,Wed May 27 2015 05:30:00 GMT-0700 (PDT)
480863,2010,BMW,3 Series,335i xDrive,sedan,NaN,wbapl3c54aa408847,pa,4.6,63433.0,white,black,alans autos,18650,20100,Fri May 29 2015 02:00:00 GMT-0700 (PDT)
492702,2010,BMW,5 Series,528i xDrive,sedan,automatic,wbanv1c51ac156615,ma,4.7,82218.0,gray,black,boch toyota/scion south,14800,15200,Tue Jun 02 2015 02:30:00 GMT-0700 (PDT)
501481,2010,BMW,X5 M,Base,suv,automatic,5ymgy0c51alk25520,fl,4.7,46869.0,white,black,braman motorcars,37500,39400,Thu Jun 04 2015 02:40:00 GMT-0700 (PDT)
552383,2010,BMW,6 Series,650i,coupe,automatic,wbaea5c55acv93052,fl,4.9,48165.0,black,black,braman honda of palm beach,29400,33400,Wed Jun 17 2015 02:40:00 GMT-0700 (PDT)

In [12]:
d22 = d2.sellingprice.mean()
d22

23572.222222222223

In [13]:
d33 = data[(data.year==2015)&(data.make=='BMW')&(data.condition>4.5)]
d33

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
7876,2015,BMW,M4,Base,Coupe,automatic,wbs3r9c53fk329392,oh,5.0,3780.0,white,black,international motor car company,67000,64000,Thu Jan 15 2015 02:05:00 GMT-0800 (PST)
43585,2015,BMW,X1,xDrive28i,SUV,automatic,wbavl1c56fvy26418,fl,4.9,4127.0,white,red,ebenzz motors,32200,34300,Tue Dec 23 2014 09:30:00 GMT-0800 (PST)
56898,2015,BMW,X1,xDrive28i,SUV,automatic,wbavl1c56fvy24992,oh,4.9,10824.0,â€”,black,bmw north america greer,30900,29750,Tue Dec 30 2014 14:00:00 GMT-0800 (PST)
56900,2015,BMW,X1,xDrive35i,SUV,automatic,wbavm5c51fvv93813,oh,5.0,5360.0,beige,beige,bmw north america greer,33200,32750,Tue Dec 30 2014 14:00:00 GMT-0800 (PST)
56902,2015,BMW,X1,xDrive35i,SUV,automatic,wbavm5c59fvv94093,oh,5.0,5235.0,gray,beige,bmw north america greer,33200,34000,Tue Dec 30 2014 14:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548650,2015,BMW,X5,xDrive50i,suv,automatic,5uxkr6c53f0j76217,oh,5.0,4834.0,gray,black,bmw na manheim new jersey,65000,64000,Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
548652,2015,BMW,2 Series,M235i,coupe,manual,wba1j7c57fv288951,oh,4.7,10964.0,gray,black,bmw north america greer,41600,40750,Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
549682,2015,BMW,3 Series,320i,sedan,automatic,wba3b1c51fk136801,ga,5.0,1645.0,gray,black,"clutch georgia, llc",29700,28900,Thu Jun 18 2015 03:00:00 GMT-0700 (PDT)
549683,2015,BMW,3 Series,328i,sedan,automatic,wba3a5c56ff606212,wa,4.9,22498.0,white,beige,sixt rent a car llc,32200,27000,Wed Jun 17 2015 06:30:00 GMT-0700 (PDT)
557843,2015,BMW,M4,Base,coupe,automatic,wbs3r9c52fk329996,ca,4.6,7118.0,blue,black,costa mesa nissan,67000,67500,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)

In [14]:
d44 = d33.sellingprice.mean()
d44

42994.68599033816

In [15]:
print(d22)
print(d44)

23572.222222222223
42994.68599033816

In [16]:
#diference
dx = (d44-d22)/d22*100
dx

82.39555687628727

# TASK 3

In [17]:
dd3 = data[(data.mmr)&(data.color=='black')]
dd3

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
369,2013,Mazda,Mazda2,Sport,Hatchback,automatic,jm1de1kz8d0152764,ca,2.0,24252.0,black,black,exeter finance corp,9825,9100,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
381,2013,Kia,Rio,LX,Sedan,automatic,knadm4a36d6256603,ca,4.0,36667.0,black,beige,avis rac/san leandro,9375,9800,Wed Dec 31 2014 12:30:00 GMT-0800 (PST)
457,2013,Kia,Forte,LX,Sedan,automatic,knaft4a26d5682378,ca,2.0,81410.0,black,gray,kia motors finance,6775,2700,Tue Jan 13 2015 12:00:00 GMT-0800 (PST)
940,2012,Dodge,Avenger,SE,Sedan,automatic,1c3cdzab7cn259165,ca,3.5,38669.0,black,black,dtg operations inc,8975,9400,Thu Dec 18 2014 11:30:00 GMT-0800 (PST)
952,2012,Chevrolet,Malibu,LS Fleet,Sedan,automatic,1g1za5e0xcf381988,ca,2.9,67196.0,black,gray,the hertz corporation,8425,9300,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558644,2004,Volvo,XC90,2.5T,suv,NaN,yv1cz59h841119207,pa,3.5,153544.0,black,gray,r hollenshead auto sales inc,3625,3700,Fri Jun 19 2015 02:00:00 GMT-0700 (PDT)
558684,2011,Kia,Sedona,LX,minivan,automatic,kndmg4c74b6402312,fl,4.2,83095.0,black,gray,rick case kia,6525,7400,Fri Jun 19 2015 02:30:00 GMT-0700 (PDT)
558710,2006,Volkswagen,GTI,Base,hatchback,automatic,wvwfv71k76w190356,fl,3.6,89314.0,black,black,ferco motors corp,5575,5100,Fri Jun 19 2015 02:45:00 GMT-0700 (PDT)
558754,2006,BMW,7 Series,750Li,sedan,automatic,wbahn83576dt28685,ca,2.8,112443.0,black,beige,bmw of riverside,7775,8400,Tue Jun 23 2015 05:30:00 GMT-0700 (PDT)
558795,2006,Cadillac,DTS,Performance,Sedan,automatic,1g6kd57916u116696,nj,2.4,108790.0,black,brown,santander consumer,4875,4200,Thu Jul 02 2015 13:20:00 GMT-0700 (PDT)

In [18]:
dd4 = data[(data.mmr)&(data.color=='gray')]
dd4

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
201,2013,Hyundai,Accent,GLS,Sedan,automatic,kmhct4ae3du421257,ca,3.6,41841.0,gray,beige,dtg operations inc,9425,9400,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
425,2013,Kia,Forte,EX,Sedan,automatic,knafu4a22d5724414,ca,2.7,55885.0,gray,black,caprock auto remarketing,9175,8800,Tue Dec 23 2014 12:00:00 GMT-0800 (PST)
662,2013,Toyota,Yaris,L,Hatchback,automatic,jtdktud33dd558788,ca,3.8,36882.0,gray,black,toyota financial services/avis budget group-open,9575,9900,Wed Dec 31 2014 12:30:00 GMT-0800 (PST)
723,2013,Nissan,Versa,1.6 S Plus,Sedan,automatic,3n1cn7apxdl888657,ca,4.2,29165.0,gray,black,"fleet link services,inc",9825,10200,Thu Dec 18 2014 11:30:00 GMT-0800 (PST)
937,2012,Dodge,Avenger,SE,Sedan,automatic,1c3cdzab3cn322875,ca,3.5,65600.0,gray,black,dtg operations inc,7875,8300,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558611,2007,BMW,5 Series,530xi,sedan,NaN,wbanf73547cy16509,pa,2.8,103593.0,gray,black,r hollenshead auto sales inc,8875,8800,Fri Jun 19 2015 02:00:00 GMT-0700 (PDT)
558633,2006,Mazda,Mazda3,s,hatchback,NaN,jm1bk343661412175,pa,2.5,89000.0,gray,black,r hollenshead auto sales inc,5125,4400,Fri Jun 19 2015 02:00:00 GMT-0700 (PDT)
558641,2004,Honda,Accord,EX,sedan,automatic,1hgcm56604a161945,pa,3.3,110560.0,gray,gray,r hollenshead auto sales inc,4725,6000,Fri Jun 19 2015 02:00:00 GMT-0700 (PDT)
558792,2011,Chevrolet,HHR,LT,Wagon,automatic,3gnbabfw0bs598638,fl,2.2,76622.0,gray,gray,woodall auto wholesale inc,5775,7600,Fri Jul 03 2015 06:30:00 GMT-0700 (PDT)
558803,2007,Ford,Five Hundred,SEL,sedan,automatic,1fafp24197g115952,pa,2.7,53000.0,gray,beige,daniel thomas sales,4825,7400,Tue Jul 07 2015 07:00:00 GMT-0700 (PDT)

In [19]:
m1 = dd3.mean()
print(m1)
m2 = dd4.mean()
print(m2)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10600\299241281.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  m1 = dd3.mean()

year              2006.630487
condition            2.747815
odometer        113687.559311
mmr               5633.632341
sellingprice      5433.762708
dtype: float64
year              2007.143471
condition            2.831445
odometer        109776.148407
mmr               5788.337948
sellingprice      5649.828184
dtype: float64

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10600\299241281.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  m2 = dd4.mean()

In [20]:
diff  =((m2-m1)/m1*100).round(2)
print(diff)

difff = m2 - m1
print(difff.round(2))

year            0.03
condition       3.04
odometer       -3.44
mmr             2.75
sellingprice    3.98
dtype: float64
year               0.51
condition          0.08
odometer       -3911.41
mmr              154.71
sellingprice     216.07
dtype: float64

In [21]:
#the difference is '2.75' percentagewise

In [22]:
#the exact difference is '154.70'

# TASK 4

In [26]:
d4 = data[(data.year==2013) | (data.year==2014) | (data.year==2015)]
d4

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558826,2014,Jeep,Grand Cherokee,Limited,SUV,automatic,1c4rjebg4ec573100,ca,4.4,9024.0,gray,black,enterprise vehicle exchange / tra / rental / t...,29800,17300,Thu Jul 09 2015 09:00:00 GMT-0700 (PDT)
558827,2014,Jeep,Grand Cherokee,Laredo,SUV,automatic,1c4rjfag0ec466276,pa,4.2,25180.0,gray,black,hertz corporation/gdp,26000,24500,Tue Jul 07 2015 06:30:00 GMT-0700 (PDT)
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,4.5,18255.0,silver,black,avis corporation,35300,33000,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [28]:
d4i = pd.crosstab(d4.make,d4.color, rownames=['make'],colnames=['color'])
d4i

color,beige,black,blue,brown,burgundy,charcoal,gold,gray,green,lime,off-white,orange,pink,purple,red,silver,turquoise,white,yellow,â€”
make,,,,,,,,,,,,,,,,,,,,
Acura,0,170,19,5,20,2,0,107,1,0,3,0,0,1,8,61,0,98,0,3
Audi,2,402,78,10,1,0,1,181,0,0,0,0,0,0,29,183,0,313,0,85
BMW,34,1235,252,99,1,1,8,710,4,0,2,14,0,1,139,190,0,1101,0,297
Bentley,0,5,3,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,2
Buick,21,157,55,25,12,1,19,189,0,0,11,0,0,6,75,235,0,308,0,13
Cadillac,55,298,36,12,2,0,50,85,1,0,11,0,12,1,48,196,0,141,0,13
Chevrolet,421,3570,1582,153,167,36,354,2933,160,1,24,52,13,25,2154,4474,1,5143,75,343
Chrysler,175,1599,848,56,232,18,334,1343,2,0,4,0,0,0,788,860,0,1657,0,183
Dodge,129,2412,1722,15,100,40,311,2304,16,1,18,135,1,14,1530,1251,1,2601,3,300
FIAT,7,123,37,12,0,9,0,91,55,0,0,7,0,0,88,45,0,116,23,17
Ford,55,7102,2209,550,444,12,70,5076,848,2,87,162,0,36,4474,5101,13,9969,18,6465
GMC,39,438,91,31,30,5,37,214,8,0,6,0,0,2,127,338,0,1150,0,29
Honda,25,859,363,137,156,2,28,859,15,0,10,3,0,14,173,513,3,600,0,60
Hyundai,129,1666,1502,324,83,4,95,1835,32,1,14,48,0,10,1227,2059,0,1736,10,186
Infiniti,3,1424,300,20,49,0,1,1452,35,0,14,0,0,32,101,371,0,1098,0,351
Jaguar,0,47,13,0,2,1,0,8,3,0,0,0,0,0,13,14,0,38,0,8
Jeep,34,1105,338,45,91,14,28,813,66,3,1,59,0,1,504,365,1,912,21,108
Kia,97,1964,571,495,429,2,29,1706,288,0,30,0,0,87,969,1754,0,2027,89,161
Land Rover,3,134,10,8,1,0,1,45,4,0,0,1,0,0,8,21,0,116,0,10
Lexus,37,798,114,74,41,12,60,426,0,0,28,0,0,5,166,420,0,515,0,84
Lincoln,13,443,51,61,29,1,6,177,19,0,30,3,0,4,181,192,0,287,0,571
MINI,5,84,119,17,0,0,1,47,54,0,10,6,0,0,111,31,0,144,1,27
Maserati,0,10,3,2,0,0,0,2,0,0,0,0,0,0,1,3,0,8,0,2
Mazda,1,517,231,4,13,9,1,821,74,0,3,1,0,0,325,228,3,392,0,47
Mercedes-Benz,0,1410,73,5,1,1,0,538,2,0,0,0,0,2,132,401,0,971,0,685
Mitsubishi,25,246,148,22,4,0,0,205,18,0,0,3,3,4,119,217,2,280,0,83
Nissan,170,3357,1015,298,316,6,62,2953,16,0,54,2,0,126,1409,2704,5,3683,4,1796
Porsche,0,115,32,19,0,0,0,47,1,0,0,0,0,1,29,26,0,85,4,7
Ram,2,567,164,52,39,1,2,271,5,0,0,26,0,0,350,325,0,815,0,49
Rolls-Royce,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
Scion,2,79,44,4,8,0,0,79,0,0,3,12,0,4,58,51,0,80,0,9
Subaru,52,157,492,22,40,2,43,370,118,0,5,18,0,3,207,334,0,421,1,60
Suzuki,2,4,8,3,0,0,0,10,0,0,0,0,0,0,2,9,0,14,0,0
Tesla,0,5,1,0,0,0,0,8,1,0,0,0,0,0,2,2,0,3,0,1
Toyota,93,2074,796,51,103,7,153,2634,250,0,4,28,0,13,1393,2437,6,2357,1,351
Volkswagen,44,685,338,30,69,0,38,739,0,0,1,0,0,4,242,549,0,605,9,354
Volvo,11,226,65,10,3,1,12,164,0,0,2,3,0,1,23,154,0,219,0,22
buick,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0
chevrolet,0,0,2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
dodge,0,15,6,0,0,0,0,3,0,0,0,0,0,0,1,4,0,12,0,0
jeep,0,11,3,0,0,0,0,1,0,0,0,0,0,0,4,0,0,8,0,0
land rover,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
lincoln,0,15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3
nissan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
smart,0,31,9,1,0,0,0,13,0,0,0,0,0,0,18,23,0,30,3,5
volkswagen,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
vw,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,10

# TASK 5

In [62]:
d5 = data[(data.body=='SUV')&(data.saledate=='Fri Dec 19 2014 09:00:00 GMT-0800 (PST)')]
d5

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
7880,2015,Chevrolet,Suburban,LTZ,SUV,NaN,1gnskkkc2fr201125,pa,4.9,14031.0,black,black,enterprise veh exchange/rental,57100,56200,Fri Dec 19 2014 09:00:00 GMT-0800 (PST)
8042,2012,Subaru,Forester,2.5X Premium PZEV,SUV,NaN,jf2shadc3ch400945,pa,3.3,22938.0,gray,gray,ford-lincoln dealer program,19050,18800,Fri Dec 19 2014 09:00:00 GMT-0800 (PST)
8108,2012,Toyota,Highlander,Base,SUV,NaN,5tdbk3eh8cs107107,pa,4.0,33804.0,silver,gray,superior automotive sales i,22400,22800,Fri Dec 19 2014 09:00:00 GMT-0800 (PST)
8188,2012,Toyota,Highlander,Limited,SUV,NaN,5tddk3eh8cs102594,pa,2.8,30030.0,black,gray,lenders assistance corporation,28500,26000,Fri Dec 19 2014 09:00:00 GMT-0800 (PST)
8223,2012,Toyota,RAV4,Sport,SUV,automatic,jtmrf4dv1c5054384,pa,4.1,48940.0,silver,black,eastern auto trading inc,16100,16300,Fri Dec 19 2014 09:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143774,2011,Hyundai,Tucson,Limited,SUV,automatic,km8jucac2bu195836,pa,4.1,102381.0,green,brown,alans autos,11050,11300,Fri Dec 19 2014 09:00:00 GMT-0800 (PST)
175402,2007,Toyota,RAV4,Limited,SUV,automatic,jtmbd31v576051509,pa,3.7,94862.0,green,beige,manheim imports,9225,9500,Fri Dec 19 2014 09:00:00 GMT-0800 (PST)
254350,2004,Toyota,Highlander,Base,SUV,NaN,jteep21a540025661,pa,2.8,129935.0,green,gray,porter nissan buick,6975,5900,Fri Dec 19 2014 09:00:00 GMT-0800 (PST)
340196,2002,Honda,CR-V,EX,SUV,manual,jhlrd77812c026868,pa,NaN,109390.0,green,â€”,smith haven chrysler jeep dodge,4375,3100,Fri Dec 19 2014 09:00:00 GMT-0800 (PST)
344506,2001,Toyota,Highlander,V6,SUV,NaN,jtegf21a810010207,pa,1.9,121190.0,green,beige,nawi leasing inc,3625,3000,Fri Dec 19 2014 09:00:00 GMT-0800 (PST)

In [64]:
pvt5 = pd.pivot_table(d5,index=['body'],values=['sellingprice'],aggfunc='sum')
pvt5

      sellingprice
body
SUV       10343000

In [68]:
d51 = data[(data.body=='SUV')&(data.saledate=='Thu Jan 15 2015 04:30:00 GMT-0800 (PST)')]
d51

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
906,2012,BMW,X3,xDrive28i,SUV,automatic,5uxwx5c56cl725811,ca,4.2,42148.0,gray,gray,financial services remarketing (lease),25700,29000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
1002,2012,BMW,X6,xDrive50i,SUV,automatic,5uxfg8c57cl590176,ca,1.9,39766.0,black,tan,financial services remarketing (lease),40100,37500,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
1420,2012,Land Rover,Range Rover,HSE,SUV,automatic,salme1d45ca360653,ca,3.6,56169.0,black,black,us bank,41900,39500,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
1448,2011,Land Rover,Range Rover,HSE,SUV,automatic,salmf1d41ba352237,ca,3.2,19925.0,green,tan,"jpmorgan chase bank,n.a.",48300,49500,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
2106,2011,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c55bl661293,ca,3.7,35226.0,black,black,financial services remarketing (lease),31000,33500,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148837,2012,Mercedes-Benz,M-Class,ML63 AMG,SUV,automatic,4jgda7eb5ca044054,ca,4.7,25959.0,white,black,specialized sales and leasing,62000,65500,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
441493,1999,Toyota,RAV4,Base,SUV,NaN,jt3hp10v1x7138698,ga,2.0,277819.0,green,gray,purple heart,2025,1300,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
502846,2000,Oldsmobile,Bravada,Base,SUV,automatic,1ghdt13w5y2279289,ne,2.6,187298.0,green,gray,select remarketing group llc/loan max title,750,625,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
517488,1999,Ford,Expedition,XLT,SUV,automatic,1fmpu18l9xla91734,ga,2.0,123040.0,green,tan,titlemax/forest park ga2,1300,500,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
547089,1999,Ford,Explorer,XL,SUV,automatic,1fmzu34x5xub83012,ne,1.9,152887.0,green,tan,onemain remarketing services,950,300,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)

In [69]:
pvt51 = pd.pivot_table(d51,index=['body'],values=['sellingprice'],aggfunc='sum')
pvt51

      sellingprice
body
SUV        9650725

In [74]:
print(pvt5)
print(pvt51)
pvtd = pvt5-pvt51
print('diference between the given period : \n',pvtd)

      sellingprice
body
SUV       10343000
      sellingprice
body
SUV        9650725
diference between the given period :
       sellingprice
body
SUV         692275

In [82]:
c51 = pvtd/pvt5*100
c51

      sellingprice
body
SUV       6.693174

In [83]:
c52 = pvtd/pvt51*100
c52

      sellingprice
body
SUV       7.173295

In [86]:
percentchange = c52-c51
percentchange
print('therefore, the percentage sales difference of SUV between the given period is : \n',percentchange)

therefore, the percentage sales difference of SUV between the given period is :
       sellingprice
body
SUV       0.480121

# TASK 6

In [31]:
d6 = df

In [32]:
d6.insert(16,'Discounted_Price',np.nan)

In [33]:
d6i = d6[(d6.make=='Ford') | (d6.make=='Chevrolet')]

In [34]:
d6i['Discounted_Price'] = d6i.sellingprice*0.90

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10600\2030831874.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d6i['Discounted_Price'] = d6i.sellingprice*0.90

In [35]:
d6[(d6.make=='Ford') | (d6.make=='Chevrolet')] = d6i
d6i.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate,Discounted_Price
7,2014,Chevrolet,Cruze,1LT,Sedan,automatic,1g1pc5sb2e7128460,ca,2.0,28617.0,black,black,enterprise vehicle exchange / tra / rental / t...,11900,9800,Tue Dec 16 2014 13:00:00 GMT-0800 (PST),8820.0
9,2014,Chevrolet,Camaro,LT,Convertible,automatic,2g1fb3d37e9218789,ca,3.0,4809.0,red,black,d/m auto sales inc,26300,17500,Tue Jan 20 2015 04:00:00 GMT-0800 (PST),15750.0
12,2015,Ford,Fusion,SE,Sedan,automatic,3fa6p0hdxfr145753,ca,2.0,5559.0,white,beige,enterprise vehicle exchange / tra / rental / t...,15350,12000,Tue Jan 13 2015 12:00:00 GMT-0800 (PST),10800.0
14,2014,Chevrolet,Cruze,2LT,Sedan,automatic,1g1pe5sbxe7120097,ca,NaN,15686.0,blue,black,avis rac/san leandro,13900,10600,Tue Dec 16 2014 12:00:00 GMT-0800 (PST),9540.0
18,2014,Chevrolet,Camaro,LS,Coupe,automatic,2g1fa1e39e9134494,ca,1.7,13441.0,black,black,wells fargo dealer services,17750,17000,Tue Dec 30 2014 15:00:00 GMT-0800 (PST),15300.0

In [37]:
d6ii = d6[(d6.make != 'Ford') & (d6.make != 'Chevrolet')]
# 20% DISCOUNT NOT FOR FORD AND CHEVROLET!

In [38]:
d6ii['Discounted_Price'] = d6ii.sellingprice * 0.80

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10600\2796185304.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d6ii['Discounted_Price']=d6ii.sellingprice*0.80

In [39]:
d6[(d6.make != 'Ford') & (d6.make != 'Chevrolet')] = d6ii

In [40]:
d6ii.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate,Discounted_Price
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),17200.0
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),17200.0
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST),24000.0
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST),22200.0
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST),53600.0

# TASK 7

In [41]:
df.isnull().sum()

year                    0
make                10301
model               10399
trim                10651
body                13195
transmission        65353
vin                     4
state                   1
condition           11794
odometer               94
color                 749
interior              749
seller                  0
mmr                     0
sellingprice            0
saledate               25
Discounted_Price        0
dtype: int64

In [42]:
df = df.drop('vin',axis=1)

In [43]:
df.isnull().sum()

year                    0
make                10301
model               10399
trim                10651
body                13195
transmission        65353
state                   1
condition           11794
odometer               94
color                 749
interior              749
seller                  0
mmr                     0
sellingprice            0
saledate               25
Discounted_Price        0
dtype: int64

In [46]:
df['make'] = df['make'].fillna('Ford')

In [47]:
df['model'] = df['model'].fillna('Altima')

In [48]:
df.trim = df.trim.fillna('Base')

In [49]:
df.body = df.body.fillna('Sedan')

In [51]:
df['transmission'] = df['transmission'].fillna('automatic')

In [53]:
df['state'] = df['state'].fillna('fl')

In [57]:
df.condition.mean()

3.4239932216370828

In [58]:
df.condition = df.condition.fillna(3.4)

In [59]:
df.odometer.mean()

68320.43754821089

In [60]:
df.odometer = df.odometer.fillna(68320)

In [61]:
df.color = df.color.fillna('black')

In [62]:
df.interior = df.interior.fillna('black')

In [63]:
df.isnull().sum()

year                 0
make                 0
model                0
trim                 0
body                 0
transmission         0
state                0
condition            0
odometer             0
color                0
interior             0
seller               0
mmr                  0
sellingprice         0
saledate            25
Discounted_Price     0
dtype: int64

In [ ]:
# NO MISSING VALUES LEFT!