In [1]:
import numpy as np
import pandas as pd

# TASK 1 & 2

In [2]:
marks = {
    "mmarks":[50,60,70,80,90,99,88,77,66,55],
    "pmarks":[45,67,60,87,93,87,96,55,49,75]
}

#loading marks data into the DataFrame

mks = pd.DataFrame(marks)

# TASK 1

print(mks.mmarks)
mks

0    50
1    60
2    70
3    80
4    90
5    99
6    88
7    77
8    66
9    55
Name: mmarks, dtype: int64

   mmarks  pmarks
0      50      45
1      60      67
2      70      60
3      80      87
4      90      93
5      99      87
6      88      96
7      77      55
8      66      49
9      55      75

In [3]:
#TASK 2

total = mks['mmarks'] + mks['pmarks']
print(total)

oq = total>150
print(oq)

0     95
1    127
2    130
3    167
4    183
5    186
6    184
7    132
8    115
9    130
dtype: int64
0    False
1    False
2    False
3     True
4     True
5     True
6     True
7    False
8    False
9    False
dtype: bool

# TASK 3

In [4]:
#DIFFERENCE
mks.mean()

mmarks    73.5
pmarks    71.4
dtype: float64

# TASK 4

In [5]:
price = np.random.randint(30000,50000,20)
cars = pd.Series(price, index = np.arange(101,121))
cars

101    30872
102    32981
103    37442
104    43281
105    35926
106    30148
107    32133
108    48831
109    33389
110    45746
111    31949
112    38794
113    34900
114    37315
115    36224
116    42044
117    34045
118    43901
119    31569
120    39567
dtype: int32

# TASK 5

In [6]:
mcr40 = cars[cars > 40000]
mcr40

#CARS OF PRICE ABOVE 40000!

104    43281
108    48831
110    45746
116    42044
118    43901
dtype: int32

# TASK 6

In [7]:
#CARS WITH HIGHEST PRICE (BETWEEN MODEL NUMBER 111 TO 116)

sorted1116 = cars.loc[111:116]

sorted1116.sort_values(ascending=False)

116    42044
112    38794
114    37315
115    36224
113    34900
111    31949
dtype: int32

# TASK 7

In [8]:
CB = cars.between(30000,40000,inclusive = 'both')
print(CB)
print(cars[CB]) #cars price between 30000 to 40000

101     True
102     True
103     True
104    False
105     True
106     True
107     True
108    False
109     True
110    False
111     True
112     True
113     True
114     True
115     True
116    False
117     True
118    False
119     True
120     True
dtype: bool
101    30872
102    32981
103    37442
105    35926
106    30148
107    32133
109    33389
111    31949
112    38794
113    34900
114    37315
115    36224
117    34045
119    31569
120    39567
dtype: int32

# TASK 8

In [9]:
#Average of cars
cm = cars.mean()
cm

37052.85

In [10]:
cars[cars>cm]

103    37442
104    43281
108    48831
110    45746
112    38794
114    37315
116    42044
118    43901
120    39567
dtype: int32

# TASK 9

In [11]:
# new_Ser.update(pd.Series([25000, 28000], index = ['Benjamin', 'Warner']))
# new_Ser

In [12]:
newi = [201,202,203]
newp = [34000,45000,54000]
newip = pd.Series(newp, index = newi)

print(newip)

pd.concat([cars,newip],axis = 0)

201    34000
202    45000
203    54000
dtype: int64

101    30872
102    32981
103    37442
104    43281
105    35926
106    30148
107    32133
108    48831
109    33389
110    45746
111    31949
112    38794
113    34900
114    37315
115    36224
116    42044
117    34045
118    43901
119    31569
120    39567
201    34000
202    45000
203    54000
dtype: int64

# TASK 10

In [13]:
discount = mcr40*0.9
discount

104    38952.9
108    43947.9
110    41171.4
116    37839.6
118    39510.9
dtype: float64

In [14]:
mcr40

104    43281
108    48831
110    45746
116    42044
118    43901
dtype: int32

# TASK 11

In [15]:
vt=CB.between(30000,40000)
vt

101    False
102    False
103    False
104    False
105    False
106    False
107    False
108    False
109    False
110    False
111    False
112    False
113    False
114    False
115    False
116    False
117    False
118    False
119    False
120    False
dtype: bool

In [18]:
CB[vt]

Series([], dtype: bool)

In [19]:
vt.size

20

# TASK 12

In [20]:
srt=CB.sort_values()
srt

110    False
118    False
104    False
116    False
108    False
117     True
115     True
114     True
113     True
112     True
101     True
119     True
109     True
107     True
106     True
105     True
103     True
102     True
111     True
120     True
dtype: bool

In [21]:
srt[:5]

110    False
118    False
104    False
116    False
108    False
dtype: bool